body {
    font-family: 'Lato', sans-serif;
}

canvas {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: crosshair;
}

#title {
    text-align: center;
}

#tool-buttons >button {
    margin-right: 10px;
}

#options-btn {
    border-radius: 10px;
    background-color: greenyellow;
}

#redo-btn, #undo-btn {
    border-radius: 10px;
    background-color: rgba(120,120,120,0.3);
}

#clear-btn {
    border-radius: 10px;
}

#save-btn {
    border-radius: 10px;
    background-color: rgba(0,128,0,0.3);
}

#pen-pixels {
    margin-top: 10px;
}

#pixels-sample {
    background-color: black;
    height: 5px;
    width: 130px;
    margin-top: 15px;
}

#stroke-color, #color-label {
    margin-top: 15px;;
}

#pen-pixels-index {
    width: 4em;
}

#save-and-cancel button {
    margin: 15px;
    border-radius: 10px;
}

#cancel-btn {
    background-color: red;
}

input[type="radio"] {
    margin: 10px;
}

#export-btn {
    border-radius: 10px; padding: 4px;background-color: antiquewhite;
}

#footer {
    text-align: center;
}